/* line 22, assets/less/referance.less */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 27, assets/less/referance.less */
.gnb .top {
  height: 50px;
  background-color: #8fd614;
}
/* line 32, assets/less/referance.less */
.gnb .menu {
  height: 70px;
  background-color: #304021;
}
/* line 39, assets/less/referance.less */
.sec {
  height: 100%;
}
/* line 44, assets/less/referance.less */
.main {
  height: calc(100% - 120px);
}
/* line 49, assets/less/referance.less */
.intro {
  position: relative;
  height: 50%;
  overflow: hidden;
}
/* line 54, assets/less/referance.less */
.intro img {
  width: 100%;
  transform: scale(1.05);
  filter: grayscale(40%);
  transition: 1s;
}
/* line 60, assets/less/referance.less */
.intro:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 68, assets/less/referance.less */
.intro:after + img {
  filter: grayscale(80%);
  transform: scale(1.2) rotate(3deg);
}
/* line 73, assets/less/referance.less */
.intro .biz_name {
  width: 400px;
  height: 200px;
  border: 10px solid #8fd614;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  font-size: 45px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}
/* line 87, assets/less/referance.less */
.intro .biz_name::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 93, assets/less/referance.less */
.intro .biz_name > span {
  display: inline-block;
  vertical-align: middle;
  font-size: 46px;
  line-height: 40px;
}
@media screen and (max-width: 1024px) {
  /* line 106, assets/less/referance.less */
  .intro {
    height: 100%;
    border: 1px red solid;
  }
}
